
body{
    width: 100%;
    margin: auto;
    font-family: "Bubblegum Sans", serif;
    
}



/*Header*/
header{
    
    /*background-color: cornflowerblue ;*/
    /*background-image: url(imagenes/portada);*/
    /*background-repeat: no-repeat;*/
    background-size: 100% 600px;
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.559), hsla(0, 0%, 9%, 0.664)), url(imagenes/portada.webp);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    /*color: hwb(219 39% 7%);*/
    
}

header .titulo{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Spicy Rice", serif;
}
.titulo h1{
    font-size: 80px;
    color: white;
    font-weight: 100;
}
.titulo h2{
    font-size: 30px;
   
    color: white;
    font-weight:100;
}

/*nav*/
nav{
    display: flex;
    background-color: white;
    align-items: center;
    font-family: "Lobster", serif;
    font-weight: 100;
}
nav a{
    text-decoration: none;
    color: inherit;
    
}
nav a:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid #36B5FE;
    
}

header img{
    display: inline-block;
    /*width: 8%;*/
    width: 180px;
}

ol{
    text-align: right;
    display: inline-block;
    
    width: 100%;
}

nav ol li{
    display: inline-block;
    text-align: center;
    padding: 0 25px 0 25px;
    color:#36B5FE;
    font-size: 1.3em;
    font-weight: bolder;
}
/*pruebas nav*/
/*nav{
    font-weight: 200;
    background-color: white;
    display: flex;
    width: 100%;
     
}
*/
/*nav li{
    margin-top: 25px;
    margin-bottom: 25px;
    
}
nav li{
    
    color: black;
    
    list-style: none;
    display: inline-block;
    padding: 15px;
    
    
}
nav img{
    
    text-align: left;
    width: 10%;
    
}
*/


/**/
section{
width: 48%;
margin: auto;
}

h3{
text-align: center;
}

h3 div{
    width: 48%;
    
}

div h4{
    margin-bottom: 15px;
}

div h4 span{
    background:hsla(212, 82%, 64%, 0.459);
    color: black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 5px;
    
}
span p{
    text-align: justify;
}
