

/*Header*/
header{
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.559), hsla(0, 0%, 9%, 0.664)), url(../imagenes/portada.webp);   
    background-size: cover;
}





/*main*/

main{
    
    margin: 0 auto;
    
    padding: 0;
}
section article div{

    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.3em;
    
    
}
article div ul li{
    margin: 5px;
}
article span{
    font-weight: bolder;
}

h3{
    text-align: center;
    font-size: 1.8em;
    position: sticky;
    top: 0;
    background-color: #0372D1;
    color: white;
    z-index: 10;
}







