
/*Header*/
header{
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.559), hsla(0, 0%, 9%, 0.664)), url("../imagenes/portada.webp");  
    background-size: cover;
    margin-bottom: 50px;
}





/*enlaces img*/
figure img{
    width: 33%;
    display: inline-block;
    border: 5px solid #0372D1;
    box-sizing: border-box;
    
    
}

figure{
    padding-bottom: 65px;
    border-bottom:4px solid #0372D1;
    width: 80%;
    margin: auto;
}






/*medias para las cosas responsive*/

@media (max-width:770px){
    figure img{
        width: 100%;
        display: block;
        border: 5px solid #0372D1;
        margin: auto;
        margin-bottom: 25px;
        
    }
    
    figure{
        padding-bottom: 65px;
        border-bottom:none;
        width: 80%;
        margin: auto;
        
        
    }
    
}



@media (max-width:693px){
    figure img{
        width: 100%;
        
    }
}