/*Header*/
header{
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.559), hsla(0, 0%, 9%, 0.664)), url("../../../../../imagenes/portada.webp");  
    background-size: cover;
}

/*main*/
h4{
    text-decoration: underline  #0372D1 5px;
    font-size: 1.5em;
    
}





/*nav main*/
main nav{
    /*display: flex;
    background-color: white;
    align-items: center;
    font-family: "Lobster", serif;
    font-weight: 100;*/
    position: sticky;
    top: 0;
}





main nav>ol{
    text-align: center;
    /*display: inline-block;
    width: 100%;*/
}

nav>ol>li{
    display: inline-block;
    text-align: center;
    padding: 0 25px 0 25px;
    color:#0372D1;
    font-size: 1.3em;
    font-weight: bolder;
    position: relative;
    
}


main nav ol li:nth-of-type(4){
    text-decoration: underline 2px #0372D1 wavy;
}











/*medias para las cosas responsive*/

@media (max-width:770px){
    article:nth-of-type(3) div img{
        width: 45%;
        
    }
}



@media (max-width:693px){
    article:nth-of-type(3) div img{
        width: 48%;
        
    }
}









