/*Header*/
header{
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.559), hsla(0, 0%, 9%, 0.664)), url("../../../../imagenes/portada.webp");  
    background-size: cover;
}

/*main*/
h4{
    text-decoration: underline  #0372D1 5px;
    font-size: 1.5em;
    
}





/*nav main*/
/*nav main*/
main nav{
    position: sticky;
    top: 0;
}





main nav>ol{
    display: flex;
    justify-content: center;
    padding: 0;
}

nav>ol>li{
    
    padding: 0 25px 0 25px;
    color:#0372D1;
    font-size: 1.3em;
    font-weight: bolder;
    
}


main nav ol li:nth-of-type(3){
    text-decoration: underline 2px #0372D1 wavy;
}











/*medias para las cosas responsive*/

@media (max-width:770px){
    article:nth-of-type(3) div img{
        width: 45%;
        
    }
}



@media (max-width:693px){
    article:nth-of-type(3) div img{
        width: 48%;
        
    }
}









