
body{
    width: 100%;
    margin: auto;
    font-family: "Bubblegum Sans", serif;
    padding: 0;
    
}






/*Header*/
header{
    
    /*background-color: cornflowerblue ;*/
    /*background-image: url(imagenes/portada);*/
    /*background-repeat: no-repeat;*/
    background-size: 100% 600px;
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.559), hsla(0, 0%, 9%, 0.664)), url(../imagenes/portada.webp);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    /*color: hwb(219 39% 7%);*/
    
}

header .titulo{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Spicy Rice", serif;
}
.titulo h1{
    font-size: 80px;
    color: white;
    font-weight: 100;
    text-align: center;
    
}
.titulo h2{
    font-size: 30px;
   
    color: white;
    font-weight:100;
}








/*nav*/
nav{
    display: flex;
    background-color: white;
    align-items: center;
    font-family: "Lobster", serif;
    font-weight: 100;
    /*position: sticky;
    top: 0;*/
}
nav a{
    text-decoration: none;
    color: inherit;
    
}
nav a:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid #36B5FE;
    
}

header img{
    display: inline-block;
    /*width: 8%;*/
    width: 180px;
    height: auto;
}

nav>ol{
    text-align: right;
    display: inline-block;
    
    width: 100%;
}

nav>ol>li{
    display: inline-block;
    text-align: center;
    padding: 0 25px 0 25px;
    color:#36B5FE;
    font-size: 1.3em;
    font-weight: bolder;
    position: relative;
    
}

/*submenu*/

nav>ol>li>ol{
    width: 260px;
    font-size: 1.0em;
    background-color: white;
    background-color: #36B5FE;
    text-align:left;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -15px;
    border-radius: 20px;
    display: none;
    color: white;
    
}
nav>ol>li>ol>li {
    margin: 15px;
    margin-left: 20px;
    
}

nav>ol>li:hover>ol{
    display: block;
}
nav>ol>li>ol>li a:hover{
    padding-bottom: 8px;
    border-bottom: 1px solid white;
}








/*menu responsive*/
input{
    display: none;
}
svg{
    color: #36B5FE;
    
}


label{
    display: flex;
    background-color: white;
    align-items: center;
    font-family: "Lobster", serif;
    font-weight: 100;
    
    
}
label img{
    display: inline-block;
    width: 180px;
    height: auto;
}

label>div{
    text-align: right;
    display: inline-block;
    width: 100%;
    margin-right: 25px;
    
}


/*nav responsive*/

form{
    background-color: aqua;
}
form nav{
    background-color: #36B5FE;
    font-family: "Lobster", serif;
    font-weight: 100;
    width: 78%;
    position: absolute;
    right: 0;
    z-index: 11;
    
}
form nav a{
    text-decoration: none;
    color: inherit;
    
}
form nav a:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    
}

form nav>ol{
    text-align: left;
    
    width: 100%;
}

form nav>ol>li{
    display: block;
    text-align: left;
    padding: 20px 0 20px 0;
    color:white;
    font-size: 1.3em;
    font-weight: bolder;
    
    
}

/*submenu responsive*/

form nav>ol>li>ol{
    font-size: 1.0em;
    display: block;
    list-style: circle;
    padding: 0;
    margin: 0;
    color: white;
    position: static;
}
form nav>ol>li>ol>li {
    margin: 15px;
    margin-left: 20px;
    
}



/*funcionalidad*/
form{
    display: none;
}
form nav{
    display: none;
}
input:checked~nav{
    display: block;
    overflow: hidden;
}
input:checked+label::after{
    content: "X";
    font-size: 40px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #36B5FE;
    margin-right: 38px;
}
input:checked+label svg{
    display: none;
}







/*footer*/
footer{
    background-color: #36B5FE;
    text-align: center;
    color: white;
    padding: 1px;
}
footer a{
    color: inherit;
    text-decoration: none;
    
}
footer span{
    font-size: 2em;
    vertical-align: middle;
}
footer p{
    margin: 0;
}
h5{
    text-align: center;
    font-family: "Spicy Rice", serif;
    font-size: 50px;
    color: white;
    font-weight: 1;
    margin: 15px 0 15px 0;
}

footer div{
    width: 100%;
    
}
footer div a{
    display: inline-block;
    margin: auto;
}
footer img{
    width: 70%;
    
}

#logoPrueba:hover{
scale: 20px;
}



@media (max-width:770px){
    nav{
        display: none;
    }
    form{
        display: block;
    }
    .titulo h1{
        font-size: 70px;
        color: white;
        font-weight: 100;
        text-align: center;
        
    }
    .titulo h2{
        font-size: 20px;
       
        color: white;
        font-weight:100;
    }
}




@media (max-width:693px){
    .titulo h1{
        font-size: 60px;
        color: white;
        font-weight: 100;
        text-align: center;
        
    }
    .titulo h2{
        font-size: 20px;
       
        color: white;
        font-weight:100;
    }
    main p,li{
        font-size: 0.8em;
    }
}