
/*Header*/
header{
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.559), hsla(0, 0%, 9%, 0.664)), url("../../imagenes/portada.webp");  
    background-size: cover;
}




/*main*/

article h3 {
    top: 58px;
    margin: 0;
    position: sticky;
}


article>div:nth-of-type(1){
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.6em;
}







/*nav main*/
main nav{
    position: sticky;
    top: 0;
    z-index: 2;
    
}





main nav>ol{
    display: flex;
    justify-content: center;
    padding: 0;
}

nav>ol>li{
    
    padding: 0 25px 0 25px;
    color:#0372D1;
    font-size: 1.3em;
    font-weight: bolder;
    
}



@media (max-width:770px){
    main nav{
        display: flex;
    }
}




/*fotos*/


/*carrusel*/


article>div:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 50px;
    flex-wrap: wrap;
    
}
article>div:nth-of-type(2) h4{
    flex-basis: 100%;
    text-align: center;
    color: #0372D1;
    font-size: 2.2em;
    margin-bottom: 70px;
}
article>div:nth-of-type(2)>div{
    background-size: cover;
    background-position: 50%;
    height: 500px;
    width: 20%;
    display: flex;
    margin: 15px;
    padding: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border: 5px solid #0372D1;
    border-radius: 25px;
}

article>div:nth-of-type(2)>div:hover{
    position: relative;
    
}

article>div:nth-of-type(2)>div:nth-of-type(1){
    background-image: url("../../imagenes/FotosPolicia1.jpg");
}

article>div:nth-of-type(2)>div:nth-of-type(1):hover{
    right: 10px;
    bottom: 25px;
}

article>div:nth-of-type(2)>div:nth-of-type(2){
    background-image: url("../../imagenes/FotosPolicia2.jpg");
    background-position: 10%;
}

article>div:nth-of-type(2)>div:nth-of-type(2):hover{
    top: 25px;
}

article>div:nth-of-type(2)>div:nth-of-type(3){
    background-image: url("../../imagenes/FotosPolicia3.webp");
    background-position: 90%;
}

article>div:nth-of-type(2)>div:nth-of-type(3):hover{
    left: 10px;
    bottom: 25px;
}

article>div:nth-of-type(2)>div div{
    background-color: white;
    color: #0372D1;
    display: block;
    width: 95%;
    height: 30%;
    margin: 12px;
    padding: 0;
}
h5{
    font-size: 1.6em;
    margin: 0;
    text-align: center;
    padding-top: 15px;
}
article>div:nth-of-type(2)>div div p{
    font-size: 1.2em;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 0 15px 0 15px;
}


@media (max-width:770px){
    article>div:nth-of-type(2){
        flex-direction: column;
    }
    article>div:nth-of-type(2)>div{
    width: 90%;
    
}
}